<div class="quiz">
  <div *ngIf="!quizOver">
    <div *ngFor="let question of currentQuestions; index as i">
      <em
        ><p class="my-2">{{ i + 1 }}. {{ question.text }}</p></em
      >
      <div *ngFor="let option of question.options">
        <input
          type="radio"
          [name]="'question' + i"
          [value]="option"
          (change)="selectAnswer(i, option)"
        />
        {{ option }}
      </div>
    </div>
    <button class="btn btn-sm btn-primary mt-3" (click)="submitQuiz()">
      Submit Quiz
    </button>
  </div>

  <div
    *ngIf="quizOver"
    [ngClass]="score >= movies.length - 1 ? 'quiz-passed' : 'quiz-failed'"
  >
    <p>Your Score: {{ score }}/ {{ movies.length }}</p>
    <p *ngIf="score >= movies.length - 1">Congratulations!</p>
    <p *ngIf="score < movies.length - 1">Better luck next time!</p>
  </div>
</div>
