.quiz {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  background-color: #121212;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px, rgba(0, 0, 0, 0.3) 0px 10px,
    rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px,
    rgba(8, 3, 6, 0.05) 0px 25px;
  color: #fff;
  border-radius: 1rem;
  &p {
    margin-bottom: 1rem;
  }
  &-passed {
    padding: 2rem;
    border-radius: 1rem;
    background-color: green;
  }
  &-failed {
    padding: 2rem;
    border-radius: 1rem;
    background-color: red;
  }
}
