.form-control::placeholder {
  color: rgba(255, 255, 255, 0.466);
}

.nav-item:hover {
  transform: scale(1.1);
  transition: 0.15s all ease;
}

.popcorn-img:hover {
  animation: tilt-n-move-shaking 0.18s ease-out;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

h1,
h2,
h3,
h4,
li,
button {
  font-family: "Orbitron", sans-serif;
}

html {
  overflow-x: hidden;
  @media screen and (max-width: 800px) {
    font-size: 70%;
    padding: 2rem;
  }
  @media screen and (min-width: 2000px) {
    font-size: 160%;
  }
}

.hidden {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
