<div class="container">
  <div class="statBox">
    <table class="table table-sm table-warning table-striped">
      <thead>
        <tr>
          <th class="ps-3 fs-4">Statistics of Top Movies</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ps-3">Top rated Movie: {{ topRatedMovie() }}</td>
        </tr>
        <tr>
          <td class="ps-3">Average Score of Movies:</td>
        </tr>
        <tr>
          <td class="ps-3">Oldest Movie:</td>
        </tr>
        <tr>
          <td class="ps-3">Newest Movie:</td>
        </tr>
        <tr>
          <td class="ps-3">Longest Movie:</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-sm btn-success mb-3 px-3" routerLink="/home">
      Add more movies <i class="bi bi-plus"></i>
    </button>
  </div>

  <p class="fs-3" *ngIf="movies.length < 1">
    Table is empty. Please add a movie!
  </p>
  <div class="statTable" *ngIf="movies.length > 0">
    <table class="table table-sm table-striped table-dark">
      <thead>
        <tr>
          <th class="ps-3">Name</th>
          <th (click)="sortByYear()" role="button">
            Year <i class="bi bi-arrow-down-up"></i>
          </th>
          <th (click)="sortByDuration()" role="button">
            Duration <i class="bi bi-arrow-down-up"></i>
          </th>
          <th (click)="sortByScore()" role="button">
            imdB Score <i class="bi bi-arrow-down-up"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies; index as i">
          <td class="ps-3">{{ movie.name }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.duration }} mins</td>
          <td>{{ movie.imdbScore }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
